
.Inflate {
    display: inline-block;
    -webkit-animation: pepepiquancyanim 3s ease;
    animation: pepepiquancyanim 3s ease;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;	
}

@-webkit-keyframes pepepiquancyanim	/*Chrome, Safari, Opera */
{
    15%{
        -webkit-transform: scale(0.8, 1.2);
        -ms-transform: scale(0.8, 1.2);
        transform: scale(0.8, 1.2);
    }
    30%{
        -webkit-transform: scale(1.2, 0.8);
        -ms-transform: scale(1.2, 0.8);
        transform: scale(1.2, 0.8);
    }
    45%{
        -webkit-transform: scale(0.7, 0.6);
        -ms-transform: scale(0.7, 0.6);
        transform: scale(0.7, 0.6);
    }
    60%{
        -webkit-transform: scale(1.3, 0.7);
        -ms-transform: scale(1.3, 0.7);
        transform: scale(1.3, 0.7);
    }
    75%{
        -webkit-transform: scale(0.9, 0.7);
        -ms-transform: scale(0.9, 0.7);
        transform: scale(0.9, 0.7);
    }
    100%{
        -webkit-transform: scale(1.43, 1.3);
        -ms-transform: scale(1.43, 1.3);
        transform: scale(1.43, 1.3);
    }
}
@keyframes pepepiquancyanim	/*IE, Firefox*/
{
    15%{
        -webkit-transform: scale(0.8, 1.2);
        -ms-transform: scale(0.8, 1.2);
        transform: scale(0.8, 1.2);
    }
    30%{
        -webkit-transform: scale(1.2, 0.8);
        -ms-transform: scale(1.2, 0.8);
        transform: scale(1.2, 0.8);
    }
    45%{
        -webkit-transform: scale(0.7, 0.6);
        -ms-transform: scale(0.7, 0.6);
        transform: scale(0.7, 0.6);
    }
    60%{
        -webkit-transform: scale(1.3, 0.7);
        -ms-transform: scale(1.3, 0.7);
        transform: scale(1.3, 0.7);
    }
    75%{
        -webkit-transform: scale(0.9, 0.7);
        -ms-transform: scale(0.9, 0.7);
        transform: scale(0.9, 0.7);
    }
    100%{
        -webkit-transform: scale(1.43, 1.3);
        -ms-transform: scale(1.43, 1.3);
        transform: scale(1.43, 1.3);
    }
}
