.Saturating {
  -webkit-animation: saturatinganim 2s ease infinite;	/*Chrome, Safari, Opera*/
  animation: saturatinganim 2s ease infinite;		/*IE, Firefox*/
}

@-webkit-keyframes saturatinganim	/*Chrome, Safari, Opera */
{
    0%, 100%  { 
      -webkit-filter: saturate(none); 
      filter: saturate(none); 
      -webkit-filter: hue-rotate(0deg);
      filter: hue-rotate(0deg);
    }
    25%  { 
      -webkit-filter: hue-rotate(90deg);
      filter: hue-rotate(90deg);
    }
    50% { 
      -webkit-filter: saturate(10); 
      filter: saturate(10); 
    }
    75% {
      -webkit-filter: hue-rotate(180deg);
      filter: hue-rotate(180deg);
    }
}
@keyframes saturatinganim	/*IE, Firefox*/
{
  0%, 100%  { 
    /* -webkit-filter: saturate(0); 
    filter: saturate(0);  */
    -webkit-filter: hue-rotate(0deg);
    filter: hue-rotate(0deg);
  }
  25%  { 
    -webkit-filter: hue-rotate(90deg);
    filter: hue-rotate(90deg);
  }
  /* 50% { 
    -webkit-filter: saturate(10); 
    filter: saturate(10); 
  } */
  75% {
    -webkit-filter: hue-rotate(180deg);
    filter: hue-rotate(180deg);
  }
}
