.See-saw {
	display: inline-block;
	-webkit-animation: pepepassionanim 3s ease;	/*Chrome, Safari, Opera*/
	animation: pepepassionanim 3s ease;		/*IE, Firefox*/
	-webkit-animation-iteration-count: 1;	/*Chrome, Safari, Opera*/
	animation-iteration-count: 1;		/*IE, Firefox*/
  }
  
  @-webkit-keyframes pepepassionanim	/*Chrome, Safari, Opera */
  {
	15%{
		-webkit-transform: rotateZ(172deg);
		-ms-transform: rotateZ(172deg);
		transform: rotateZ(172deg);
	}
	30%{
		-webkit-transform: rotateZ(-85deg);
		-ms-transform: rotateZ(-85deg);
		transform: rotateZ(-85deg);
	}
	50%{
		-webkit-transform: rotateZ(45deg);
		-ms-transform: rotateZ(45deg);
		transform: rotateZ(45deg);
	}
	65%{
		-webkit-transform: rotateZ(-15deg);
		-ms-transform: rotateZ(-15deg);
		transform: rotateZ(-15deg);
	}
	80%{
		-webkit-transform: rotateZ(15deg);
		-ms-transform: rotateZ(15deg);
		transform: rotateZ(15deg);
	}
	100%{
		-webkit-transform: rotateZ(-1deg);
		-ms-transform: rotateZ(-1deg);
		transform: rotateZ(-1deg);
	}
  }
  @keyframes pepepassionanim	/*IE, Firefox*/
  {
	15%{
		-webkit-transform: rotateZ(172deg);
		-ms-transform: rotateZ(172deg);
		transform: rotateZ(172deg);
	}
	30%{
		-webkit-transform: rotateZ(-85deg);
		-ms-transform: rotateZ(-85deg);
		transform: rotateZ(-85deg);
	}
	50%{
		-webkit-transform: rotateZ(45deg);
		-ms-transform: rotateZ(45deg);
		transform: rotateZ(45deg);
	}
	65%{
		-webkit-transform: rotateZ(-15deg);
		-ms-transform: rotateZ(-15deg);
		transform: rotateZ(-15deg);
	}
	80%{
		-webkit-transform: rotateZ(15deg);
		-ms-transform: rotateZ(15deg);
		transform: rotateZ(15deg);
	}
	100%{
		-webkit-transform: rotateZ(-1deg);
		-ms-transform: rotateZ(-1deg);
		transform: rotateZ(-1deg);
	}
  }