.Slip-slide {
  display: inline-block;
  -webkit-animation: slipslideanim 3s ease;	/*Chrome, Safari, Opera*/
  animation: slipslideanim 3s ease;		/*IE, Firefox*/
  -webkit-animation-iteration-count: 1;	/*Chrome, Safari, Opera*/
  animation-iteration-count: 1;		/*IE, Firefox*/
}

@-webkit-keyframes slipslideanim	/*Chrome, Safari, Opera */
{
  15%
  {
      -webkit-transform: translateX(-105%);
      transform: translateX(-105%);
  }
  30%
  {
      -webkit-transform: translateX(105%);
      transform: translateX(105%);
  }
  50%
  {
      -webkit-transform: translateX(-52%);
      transform: translateX(-52%);
  }
  65%
  {
      -webkit-transform: translateX(52%);
      transform: translateX(52%);
  }
  80%
  {
      -webkit-transform: translateX(26%);
      transform: translateX(26%);
  }
  100%
  {
      -webkit-transform: translateX(-26%);
      transform: translateX(-26%);
  }
}
@keyframes slipslideanim	/*IE, Firefox*/
{
  15%
  {
      -webkit-transform: translateX(-105%);
      transform: translateX(-105%);
  }
  30%
  {
      -webkit-transform: translateX(105%);
      transform: translateX(105%);
  }
  50%
  {
      -webkit-transform: translateX(-52%);
      transform: translateX(-52%);
  }
  65%
  {
      -webkit-transform: translateX(52%);
      transform: translateX(52%);
  }
  80%
  {
      -webkit-transform: translateX(26%);
      transform: translateX(26%);
  }
  100%
  {
      -webkit-transform: translateX(-26%);
      transform: translateX(-26%);
  }
}
