.Springy {
	-webkit-animation: springyanim 3s ease-in;	/*Chrome, Safari, Opera*/
	animation: springyanim 3s ease-in;		/*IE, Firefox*/
	-webkit-animation-iteration-count: infinite;	/*Chrome, Safari, Opera*/
	animation-iteration-count: infinite;		/*IE, Firefox*/
  }
  
  @-webkit-keyframes springyanim	/*Chrome, Safari, Opera */
  {
	10%{
        letter-spacing: -1px;
	}
	20%{
        letter-spacing: -2px;
	}
	30%{
        letter-spacing: -1px;
	}
	40%{
        letter-spacing: -3px;
	}
	50%{
        letter-spacing: -1px;
	}
	60%{
        letter-spacing: -5px;
	}
	65%{
        letter-spacing: -1px;
	}
	65%{
        letter-spacing: -4px;
	}
	70%{
        letter-spacing: -1px;
	}
	70%{
        letter-spacing: -3px;
	}
	80%{
        letter-spacing: 1px;
	}
	90%{
        letter-spacing: -1px;
	}
	100%{
        letter-spacing: -0.5px;
	}
  }
  @keyframes springyanim	/*IE, Firefox*/
  {
	10%{
        letter-spacing: -1px;
	}
	20%{
        letter-spacing: -2px;
	}
	30%{
        letter-spacing: -1px;
	}
	40%{
        letter-spacing: -3px;
	}
	50%{
        letter-spacing: -1px;
	}
	60%{
        letter-spacing: -5px;
	}
	65%{
        letter-spacing: -1px;
	}
	65%{
        letter-spacing: -4px;
	}
	70%{
        letter-spacing: -1px;
	}
	70%{
        letter-spacing: -3px;
	}
	80%{
        letter-spacing: 1px;
	}
	90%{
        letter-spacing: -1px;
	}
	100%{
        letter-spacing: -0.5px;
	}
  }